In [1]:
# %pip install numpy pandas matplotlib seaborn setuptools

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('spam.csv')
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [3]:
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.3+ KB

In [5]:
df.duplicated().any()

np.True_

In [6]:
# Sum the number of duplicated rows in the dataframe
df.duplicated().sum()

np.int64(403)

In [7]:
df.nunique()  # unique values per column
df.shape[0] - df.nunique()  # number of duplicates per column

label      5570
message     414
length     5298
punct      5534
dtype: int64

In [8]:
df = df.drop_duplicates()

In [9]:
df.duplicated().any()

np.False_

In [10]:
df.shape

(5169, 4)

In [11]:
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5169 rows x 4 columns]

In [12]:
X = df.drop(columns=['label'])
y = df['label']

In [13]:
X

                                                message  length  punct
0     Go until jurong point, crazy.. Available only ...     111      9
1                         Ok lar... Joking wif u oni...      29      6
2     Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3     U dun say so early hor... U c already then say...      49      6
4     Nah I don't think he goes to usf, he lives aro...      61      2
...                                                 ...     ...    ...
5567  This is the 2nd time we have tried 2 contact u...     160      8
5568               Will ü b going to esplanade fr home?      36      1
5569  Pity, * was in mood for that. So...any other s...      57      7
5570  The guy did some bitching but I acted like i'd...     125      1
5571                         Rofl. Its true to its name      26      1

[5169 rows x 3 columns]

In [16]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: label, Length: 5169, dtype: object